body {
    background-color: #FAF9F6;
    /*background-color: #AEB59B;*/
    margin: 0;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
}

.material-symbols-sharp {
    font-variation-settings:
            'FILL' 0,
            'wght' 600,
            'GRAD' 0,
            'opsz' 48
}

.top-bar {
    /*background-color: #FAF9F6;*/
    top: 0;
    right: 0;
    width: 100%;
    height: 5vw;
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#banner-container{
    font-size: 1.5vw;
    color: black;
    margin-left: 1vw;
}

#welcome-banner{
    font-size: 3vw;
    white-space: nowrap;
    /*overflow: hidden;*/
    /*display: inline-block;*/

    animation: my-animation 300s linear infinite;

}

@keyframes my-animation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.tabs {
    width: 5vw;
    height: 100%;
    position: fixed;
    border: 2px solid black;
    text-align: center;
    /*background-color: white;*/
    background-color: #FAF9F6;
    /*background-color: #AEB59B;*/
}

.tabs p {

}

.tabs span {
    margin-top: 2vw;
}

.top-row {
    justify-content: space-between;
}

.main {
    margin-left: 5vw;
    color: #2b281f;
}

.midsection {
    margin-top: 10vw;
    margin-left: 2vw;
    /*font-family: Arial;*/
}

/**
    ABOUT.html
 */

#greetings {
    font-size: 2vw;
}

/*.resume{*/
/*    font-size: 1.5em;*/
/*    padding-right: 10em;*/
/*}*/

/*.row{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding-bottom: 1em;*/
/*}*/

.name-row{
    color: #2b281f;
    padding-top: 2vw;
    font-size: 3vw;
    padding-left: 2vw;
    padding-right: 5vw;
}

.name-row a {
    color: blue;
}

.name-row span {
    font-size: 6vw;
}

#intro {
    font-size: 5vw;
}

footer{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 0.25em;
    left: 0;
    right: 0;
}

.headers{
    font-size: 1.5em;
}

/**
    PORTFOLIO
 */

.details {
    padding-left: 2vw;
    padding-top: 2vw;
    display: flex;
    /*align-content: center;*/
    flex-direction: row;
    justify-content: space-evenly;
}

.column {
    /*flex: 25%;*/
}

.column:first-child {
    font-size: 3vw;
    align-self: center;
}

img {
    margin-top: 2vw;
    border-radius: 1vw;
    max-width: 50%;
    height: auto;
}

